<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
</head>
<body>
  <h1>Event schedule</h1>

  <table>
    <% for array in @schedule %>
      <tr>
        <% array.each do |element| %>
          <td><%= element %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

</body>
</html>
